body { display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    margin: 0; 
    flex-direction: column; 
    text-align: center; 
    background-color: #5f7d9e; } 

.form-container { 
    background: #fff; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0,0,0,0.1); 
    border: 2px solid #000000;
} 




.input-box { margin: 10px 0; } 

input[type="text"] { 
    width: 100%; 
    padding: 10px; 
    font-size: 16px; 
    border: 1px solid #000000;
    border-radius: 4px; }